*{
    margin:0%;
}
.wrap{
    background-color: rgba (255, 255, 255, 0,7);
    width: 920px;
    color:black;
    margin: 10px auto;
    padding: 15px
}
h1{
    text-align: center;
    width: 100%;
    border-top-style: 3px;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}
.Github{
    display: flex; justify-content: center;
    margin-top: 25%;
}
tr{
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
img{
    height:40vh;
    width: 20%;
    position: absolute;
    z-index: -1;
}
a:visited{
    color: white;

}